* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .apresentation {
        width: 400px;
        text-align: center;
        margin: 0 15px;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .title-gradient {
            font-family: sans-serif;
            
            background-image: linear-gradient(to right, rgb(226, 92, 159) 30%, rgb(57, 175, 130) 70%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: black;
        }

        p {
            text-align: justify;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        .links a {
            text-decoration: none;
        }

        .links a:hover {
            text-decoration: underline;
        }
    }
}
