* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

#container {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    #apresentation {
        width: 400px;
        margin: 0 10px;
        padding: 15px;

        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: white;

        h1 {
            font-family: sans-serif;
            
            background-image: linear-gradient(to right, rgb(226, 92, 159) 30%, rgb(57, 175, 130) 70%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: black;
        }

        p {
            text-align: justify;
        }

        #links {
            width: max-content;
        
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            gap: .5em;
        }

        #links a {
            text-decoration: none;
        }

        #links a:hover {
            text-decoration: underline;
        }
    }
}
