* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .apresentation {
        width: 400px;
        text-align: center;
        margin: 0 15px;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            border-image: linear-gradient(227.91deg, red 0%, blue 100%) 1;
        }

        p {
            text-align: justify;
        }

        // strong.sass {
        //     color: #BF4080;
        // }

        .links {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        .links a {
            text-decoration: none;
        }

        .links a:hover {
            text-decoration: underline;
        }
    }
}
