{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django|Sass</title>

    {% compress css %}
        <link rel="stylesheet" type="text/x-sass" href="{% static 'core/scss/home.scss' %}">
    {% endcompress %}
</head>
<body>
    <div id="container">
        <div id="apresentation">
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nisi ab quasi quod aperiam commodi itaque numquam adipisci neque, a accusantium eveniet laborum repudiandae accusamus, est incidunt. Maiores, sint similique.</p>
        </div>
    </div>  
</body>
</html>
